.box{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 30px;
}
.centerBox{
    width: 350px;
}
.centerBox h1{
    margin-bottom: 20px;
}

.inputBox{
    text-align: left;
}

.inputBox select{
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    padding: 0 10px;
}

.btnBox{
    display: flex;
    justify-content: space-between;
}
.btn{
    width: 155px;
    height: 30px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
}